* text=auto eol=lf

*.pt filter=lfs diff=lfs merge=lfs
*.pth filter=lfs diff=lfs merge=lfs
*.onnx filter=lfs diff=lfs merge=lfs
*.mp4 filter=lfs diff=lfs merge=lfs
*.avi filter=lfs diff=lfs merge=lfs
*.png filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
